@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --dark: #293241;
    --light: #FEF7F6;
    --primary: #3D5A80;
    --accent: #98C1D9;
    --secondary: #EE6C4D;

    --text-normal: 1rem;
    --text-small: .8rem;
    --text-big: calc(var(--text-normal) * 1.61);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 { 
    font-size: var(--text-big);
}

p, label { 
    font-size: var(--text-normal);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.header {
    background: linear-gradient(90deg, var(--dark) 0%, var(--primary) 100%);
    /* background-color: var(--primary); */
    max-height: 25vh;
}

.header h2 {
    width: 100%;
    text-align: center;
    font-size: calc(var(--text-big) * 10);
    /* transform: translateY(35%); */
    color: rgba(255, 255, 255, .2);

    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content {
    width: 50vw;
    margin: auto;
    margin-bottom: var(--text-big);
    border-radius: var(--text-small);
    background: rgba(0, 0, 0, .1);

    border-radius: var(--text-small);
    padding: var(--text-big);
    box-shadow: rgba(from var(--dark) r g b / 0.5) 0 4px var(--text-small);

    flex: 1;
}

.small {
    font-size: var(--text-small);
}

.dark, .light {
    padding: var(--text-big);
}

.dark {
    background: var(--dark);
    color: var(--light);
}

.light {
    background: var(--light);
    color: var(--dark);
}

.button-list {
    display: flex;
    flex-direction: row;
}

.flex { display: flex; width: 100%; flex-wrap: wrap; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.col { padding: .5rem; }
.col-12 { width: 100%; }
.col-9 { width: 75%; }
.col-8 { width: calc(200% / 3); }
.col-6 { width: 50%; }
.col-4 { width: calc(100% / 3); }
.col-3 { width: 25%; }
.col-2 { width: calc(100% / 6); }
.col-1 { width: calc(100% / 12); }

.text-center { text-align: center; }