.item-list > *:not(:last-child) {
    border-bottom: solid var(--primary) 1px;
}

.card {
    padding: var(--text-normal) 0;
}

.cocktail-card:hover {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, var(--accent) 95%, rgba(0, 0, 0, 0) 100%);
}

.cocktail-card svg {
    transition: transform .2s ease, opacity .2s ease;
    float: right;
    transform: translateY(-100%);
    opacity: 0;
}

.cocktail-card:hover svg {
    transform: scale(2) rotate(15deg) translateY(-50%);
    opacity: 1;
}