.footer {
    width: 100%;
    margin: auto;
    background: var(--primary-dark);
    color: var(--light);
    padding: var(--default-spacing);
    display: flex;
    justify-content: space-around;

    position: absolute;
    bottom: 0;
}

.footer * {
    margin: auto;
    text-align: center;
}

.footer .sitemap ul {
    width: 100%;
}

@media screen and (min-width: 810px) {
    .footer > div {
        width: 40%;
    }
}

@media screen and (max-width: 1039px) {
    .footer {
        flex-direction: column;
    }

    .footer > div {
        width: 90%;
    }

    .footer .sitemap {
        margin-bottom: var(--default-spacing);
    }

    .footer .sitemap ul {
        display: flex;
        justify-content: space-around;
    }
}