.inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: var(--text-big) 0;
}

input[type="text"], input[type="password"], input[type="number"], select {
    padding: calc(var(--text-small) / 2);
    border: none;
    outline: none;
    background: none;

    border-bottom: solid 2px var(--dark);
    transition: boder .2s ease;
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    border-bottom: solid 2px var(--primary);
}

input[type="checkbox"] {
    width: var(--text-normal);
    height: var(--text-normal);
    margin: var(--text-small);
}

.input-text, .input-select {
    display: flex;
    flex-direction: column;
}

.input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}