.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background .4s ease;
}

.modal.open {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .4);
}

.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 60%;
  left: 20%;
  margin: auto;
  box-shadow: rgba(from var(--dark) r g b / 0.5) 0 4px var(--text-small);
  transform: translateY(100%);
  transition: transform .4s ease;
  border-radius: var(--text-small) var(--text-small) 0 0;
  padding: var(--text-big);
}

.modal.open .modal-content {
  transform: translateY(0);
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}