.navbar {
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: var(--default-spacing);
}

.navbar a {
    padding: 10px;
    width: 33%;
    text-align: center;
    color: black;
    text-decoration: none;
    background: var(--primary-light);
}

.navbar .selected {
    background: var(--primary);
    color: white;
}

.navbar a:first-child {
    border-radius: 5px 0px 0px 5px;
}

.navbar a:last-child {
    border-radius: 0px 5px 5px 0px;
}

@media screen and (min-width: 1920px) {
    .navbar {
        width: 30%;
    }
}

@media screen and (min-width: 1040px) and (max-width: 1919px) {
    .navbar {
        width: 40%;
    }
}

@media screen and (min-width: 810px) and (max-width: 1039px) {
    .navbar {
        width: 60%;
    }
}

@media screen and (max-width: 809px) {
    .navbar {
        width: 90%;
    }
}