.navbar {
    width: 30%;
    margin: auto;
    padding: var(--text-big) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar > * {
    width: 32%;
    text-align: center;
    background: var(--primary);
    color: var(--light);
    padding: calc(var(--text-small) / 2) var(--text-small);
}

.navbar > *:first-child {
    border-radius: 8px 0 0 8px;
}

.navbar > *:last-child {
    border-radius: 0 8px 8px 0;
}

.navbar .selected {
    background: var(--dark);
}