.pagination {
    width: 100%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
}

.pagination .pages * {
    margin: 0 10px;
}

.pagination .pages *:not(strong) {
    color: var(--primary-light);
}