.pages {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pages > * {
    margin: 0 4px;
}

.pages a {
    color: var(--primary);
}

.current-page {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: var(--dark);
    color: var(--light);
}

.page-items {
    text-align: center;
}