<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Paned admin</h2>
      <h4>Bières</h4>
      <ul>
        {% for beer in beers %}
        <li>
            {{ beer.name }} ({{ beer.type }}) {{ beer.degree }}°
            <a href="{{ url_for('admin.remove_beer', beer_id = beer.id) }}"><button>X</button></a>
        </li>
        {% endfor %}
      </ul>

      <form action="{{ url_for('admin.add_beer') }}" method="post">
        <input type="text" name="beerName" required>
        <input type="text" name="beerType" required>
        <input type="number" name="beerDegree" required>
        <input type="submit" value="Ajouter">
      </form>

      <h4>Ingrédients</h4>
      <form action="{{ url_for('admin.update_ingredients_stock') }}" method="post">
        <ul>
          {% for ingredient in ingredients %}
          <li>
            <input type="checkbox" name="{{ ingredient }}" {% if ingredient in ingredient_stock %} checked {% endif %}>
            <label for="{{ ingredient }}">{{ ingredient  }}</label>
          </li>
          {% endfor %}
        </ul>
        <input type="submit" value="Valider">
      </form>
  </body>

  <script src="{{ url_for('static', filename = 'addBeerLine.js') }}"></script>
</html>
