{% extends "base.html" %}
{% from "components/admin_beers.html.jinja" import admin_beers %}
{% from "components/admin_ingredients.html.jinja" import admin_ingredients %}

{% block content %}    
    <h2>Bières</h2>
    {{ admin_beers(beers)|safe }}


    <h2>Ingrédients</h2>
    {{ admin_ingredients(ingredients, ingredient_stock)|safe }}
{% endblock %}