{% from "components/navbar.html.jinja" import navbar %}
{% from "components/footer.html.jinja" import footer %}

<!DOCTYPE html>
<html lang="fr">

<head>
    {% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} | Le bar de la Tanière</title>
    {% endblock %}
</head>

<body>
    {{ navbar()|safe }}

    <h2>Le bar de la Tanière</h2>

    {% block content %}
    {% endblock %}

    {{ footer()|safe }}

</body>

</html>