{% from "components/navbar.html.jinja" import navbar %}
{% from "components/footer.html.jinja" import footer %}

<!DOCTYPE html>
<html lang="fr">

<head>
    {% block header %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} | Le bar de la Tanière</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/footer.css') }}">
    {% endblock %}
</head>

<body>
    <div class="header">
        <h2>Le bar de la Tanière</h2>
    </div>

    {{ navbar(page_title)|safe }}

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    

    {{ footer()|safe }}

    <script src="{{ url_for('static', filename = 'utils.js') }}"></script>

</body>

</html>