{% extends "base.html" %}

{% block content %}
    <h4>{{ page_title }}</h4>

    <!-- Search engine -->
    <a href="/beers?beer_type=Blanche">Blanche</a>
    <a href="/beers?beer_type=Blonde">Blonde</a>
    <a href="/beers?beer_type=Brune">Brune</a>
    <a href="/beers?beer_type=Ambree">Ambrée</a>

    <!-- Show the data -->
    <ul>
        {% for beer in beers %}
        <li>
            {{ beer.name }} ({{ beer.type }}) {{ beer.degree }}°
        </li>
        {% endfor %}
    </ul>
{% endblock %}