{% extends "base.html" %}
{% from "components/beer_search.html.jinja" import beer_search %}
{% from "components/beer_card.html.jinja" import beer_card %}
{% from "components/pagination.html.jinja" import pagination %}

{% block header %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/search.css') }}">
{% endblock %}

{% block content %}
    <!-- Search engine -->
    {{ beer_search(beer_types)|safe }}

    <!-- Show the data -->
    {% if beers.items|count() > 0 %}
        <ul class="item-list">
            {% for beer in beers %}
            <li>
                {{ beer_card(beer)|safe }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="text-align: center;">Il n'y a rien à voir pour le moment...</p>
    {% endif %}

    <!-- Pagination -->
    {{ pagination(beers, endpoint, url_args) }}
{% endblock %}