{% extends "base.html" %}
{% from "components/beer_search.html.jinja" import beer_search %}

{% block header %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/search.css') }}">
{% endblock %}

{% block content %}
    <h4>{{ page_title }}</h4>

    <!-- Search engine -->
    {{ beer_search(beer_types)|safe }}

    <!-- Show the data -->
    {% if beers.items|count() > 0 %}
        <ul class="item-list">
            {% for beer in beers %}
            <li>
                <div class="beer-card">
                    {{ beer.name }} ({{ beer.type }}) {{ beer.degree }}°
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Il n'y a rien à voir pour le moment...</p>
    {% endif %}
{% endblock %}