{% extends "base.html" %}
{% from "components/cocktail_card.html.jinja" import cocktail_card %}
{% from "components/cocktail_search.html.jinja" import cocktail_search %}
{% from "components/pagination.html.jinja" import pagination %}

{% block header %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/pagination.css') }}">
{% endblock %}

{% block content %}
    <!-- Search engine -->
    {{ cocktail_search(ingredients)|safe }}

    <p class="small" style="float: right;">{{ cocktails.total }} résultats</p>

    <!-- Show the data -->
    <ul class="item-list">
        {% for cocktail in cocktails %}
        <li>
            {{ cocktail_card(cocktail)|safe }}
        </li>
        {% endfor %}
    </ul>
    
    <!-- Pagination -->
    {{ pagination(cocktails, endpoint, url_args) }}
{% endblock %}