<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Le bar de la tanière</title>
  </head>
  <body>
    <h2>Le bar de la tanière</h2>
    <h4>Cocktails</h4>
    <ul>
      {% for cocktail in cocktails %}
      <li>
        <p>{{ cocktail.name }}</p>
        <ul>
          {% for ingredient in cocktail.ingredients %}
          <li>{{ ingredient.name }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
    <h4>Bières</h4>
    <ul>
      {% for beer in beers %}
      <li>{{ beer.name }} ({{ beer.type }}) {{ beer.degree }}°</li>
      {% endfor %}
    </ul>
  </body>
</html>
