{% extends "base.html" %}

{% block content %}
    <p>{{ page_title }}</p>

    <form action="{{ url_for('auth.login') }}" method="post">

        <div class="inputs">
            <div class="input input-text col col-4">
                <label for="username">Username :</label>
                <input type="text" name="username" id="username" placeholder="Username" required>
            </div>

            <div class="input input-text col col-4">
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </div>
        </div>

        <div class="buttons">
            <input type="submit" value="Auth" class="button button-primary button-full" style="width: 30%;">
        </div>       
        
    </form>
{% endblock %}