{% extends "base.html" %}

{% block content %}
<div class="flex flex-row">

    <div class="col-6 text-center">
        <h2>Jus</h2>
        <ul>
            {% for juice in juices %}
                {% if juice.name not in ['Jus citron', 'Jus citron vert'] %}
                    <li>{{ juice.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="col-6 text-center">
        <h2>Sirops</h2>
        <ul>
            {% for syrup in syrups %}
                {% if syrup.name not in ['Sirop simple'] %}
                    <li>{{ syrup.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}