<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le bar de la Tanière | Autres</title>
</head>
<body>
    <h2>Le bar de la Tanière</h2>
    <h4>Jus</h4>

    <ul>
        {% for juice in juices %}
            <li>{{ juice }}</li>
        {% endfor %}
    </ul>

    <h4>Sirops</h4>
    <ul>
        {% for syrup in syrups %}
            <li>{{ syrup }}</li>
        {% endfor %}
    </ul>
</body>
</html>