{% macro beer_card(beer) %}

<div class="card inline-card beer-card" onclick="createModal('Title', 'Description', 'Footer')">
    <p> {{ beer.name }} <span class="small"> ({{ beer.degree }}°) </span> </p>
    
    <p class="small">
        {{ beer.type }}
    </p>
</div>

{% endmacro %}