{% macro beer_search(types) %}

<div class="beer_search search">
    <p>Filtrer</p>
    
    <div class="inputs">
        <div class="input-select col col-4">
            <label for="beer_type">Type :</label>
            <select name="beer_type" class="beer_type" id="beer_type">
                <option value="" selected>Sélectionner un type</option>
                {% for type in types %}
                <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="buttons">
        <button onclick="resetFilters(this)" class="button-outline button-primary col col-6">Effacer les filtres</button>
        <button onclick="searchBeers()" class="button-full button-primary col col-6">Rechercher</button>
    </div>
</div>

<script src="{{ url_for('static', filename = 'searchBeers.js') }}"></script>
<script src="{{ url_for('static', filename = 'resetFilters.js') }}"></script>

{% endmacro %}