{% macro cocktail_search(ingredients) %}

<div class="cocktail_search">
    <div class="ingredient_list tags_list">
        <input list="ingredients" type="text" class="input_tags" placeholder="Ingrédient">
        <datalist id="ingredients">
            {% for ingredient in ingredients %}
            <option value="{{ ingredient }}">
            {% endfor %}
        </datalist>
        <button onclick="triggerNewTag()">+</button>
    </div>

    <select name="cocktail_type" class="cocktail_type">
        <option value="" selected></option>
        <option value="long">Long</option>
        <option value="short">Short</option>
        <option value="shot">Shot</option>
    </select>

    <input type="checkbox" name="no_alcohol_option" id="no_alcohol_option" class="no_alcohol_option">
    <label for="no_alcohol_option">Sans alcool</label>

    <input type="text" name="name" class="cocktail_name" placeholder="Nom">

    <button onclick="resetFilters(this)">Effacer les filtres</button>

    <button onclick="searchCocktails()">Rechercher</button>
</div>

<script src="{{ url_for('static', filename = 'searchCocktails.js') }}"></script>
<script src="{{ url_for('static', filename = 'inputTagsManager.js') }}"></script>
<script src="{{ url_for('static', filename = 'resetFilters.js') }}"></script>

{% endmacro %}