{% macro cocktail_card(cocktail) %}

<div class="cocktail-card">
    <p class="main"> {{ cocktail.name }} <span class="description small"> ({{ cocktail.type }}) </span> </p>
    
    <p class="description small">
        {% for ingredient in cocktail.ingredients %}
        {{ ingredient.name }}
        {{ "-" if not loop.last else "" }}
        {% endfor %}
    </p>
</div>

{% endmacro %}