{% macro cocktail_card(cocktail) %}

<div class="cocktail_card">
    {{ cocktail.name }}
    
    {% for ingredient in cocktail.ingredients %}
    {{ ingredient.name }}
    {{ "-" if not loop.last else "" }}
    {% endfor %}

    ({{ cocktail.type }})
</div>

{% endmacro %}