{% macro cocktail_search(ingredients) %}

<div class="cocktail_search">
    <div class="ingredient_list">
        <input list="ingredients" type="text" class="input-tags" placeholder="Ingrédient">
        <datalist id="ingredients">
            {% for ingredient in ingredients %}
            <option value="{{ ingredient }}" />
            {% endfor %}
        </datalist>
    </div>

    <select name="cocktail_type" class="cocktail_type">
        <option value="" selected></option>
        <option value="long">Long</option>
        <option value="short">Short</option>
        <option value="shot">Shot</option>
    </select>

    <button onclick="searchCocktails()">Rechercher</button>
</div>

<script src="{{ url_for('static', filename = 'searchCocktails.js') }}"></script>
<script src="{{ url_for('static', filename = 'inputTagsManager.js') }}"></script>

{% endmacro %}