{% macro footer() %}

<div class="footer">
    <div class="sitemap">
        <h4>Plan du site</h4>
        <ul>
        {% for endpoint in ["a", "b", "c"] %}
            <li><a href="">{{ endpoint }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endmacro %}