{% macro footer() %}

<div class="footer">
    <div class="sitemap">
        <h4>Plan du site</h4>
        <ul>
        {% for endpoint in ["cocktails", "beers", "others"] %}
            <li>
                <a href="{{ url_for('public.' + endpoint) }}">{{ endpoint|capitalize() }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endmacro %}