{% macro footer() %}

<div class="footer dark flex">
    <div class="col-6 text-center">
        <p>Plan du site</p>
        <ul>
        {% for endpoint in ["cocktails", "beers", "others"] %}
            <li>
                <a href="{{ url_for('public.' + endpoint) }}">{{ endpoint|capitalize() }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="col-6 text-center">
        <p>Des idées ? Des retours ? J'ai rien fait pour ça -^- donc viens m'en parler directement :3</p>
        <p>Copyright &copy; - MaxeW - 2025</p>
        <p>Fait avec amour <span class="small">(et un peu de temps perdu j'avoue)</span></p>
    </div>
</div>

{% endmacro %}