{% macro navbar() %}

<div class="navbar">
    <a href="{{ url_for('public.cocktails') }}">Cocktails</a>
    <a href="{{ url_for('public.beers') }}">Bières</a>
    <a href="{{ url_for('public.others') }}">Autres</a>
</div>

{% endmacro %}